QScrollBar:vertical {
     border-right: 1px solid #142621;
     border-left: 1px solid #142621;
     background: #000000;
     min-width: 20px;
     max-width: 26px;
     margin: 22px 0px 22px 0px;
     padding: -1px;

 }
 QScrollBar::handle:vertical {
    subcontrol-origin: border;
    border: 1px outset rgba(0, 0, 0, 255);
    padding: 1px;
    margin-left: 1px;
    margin-right: 1px;
    min-height: 30px;
    border-radius: 6px;
    min-width: 14px;
    max-width: 16px;
        background-image: url(:/textures/MainPage/bttn3x1_slider_handle.png);
    background-attachment: fixed;
    background-clip: border;
    background-origin: border;
    background-repeat: no-repeat;
    background-position: left;
        background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(55, 55, 55, 255), stop:1 rgba(14, 14, 14, 255));
 }
QScrollBar::handle:vertical:hover {

        background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(87, 86, 86, 255), stop:1 rgba(16, 16, 16, 255));
}
QScrollBar::handle:vertical:pressed {
background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(17, 17, 17, 255), stop:1 rgba(5, 5, 5, 255));
}
 QScrollBar::add-line:vertical {
     padding:0px;
     border: 1px solid #142621;
    border-top-color: transparent;
    border-top-color: #000000;
     border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
     background: #142621;
     height: 20px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
 }

 QScrollBar::sub-line:vertical {
    border: 1px solid #142621;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #142621;
    height: 20px;
    padding:0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
 }

QScrollBar::down-arrow:vertical,  QScrollBar::up-arrow:vertical {
    margin: 1px;
    min-width:20px; min-height:20px;
    max-width:20px; max-height:20px;
    border: 1px hidden #142621;


        background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-clip: border;
    background-origin: margin;
    background-repeat: no-repeat;
    background-position: left;
 }
 QScrollBar::up-arrow:vertical{
    margin-bottom: -1px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-color: transparent;
    background-image: url(:/textures/MainPage/bttn3x1_scroll_up.png);
 }
QScrollBar::down-arrow:vertical{
    margin-top: -1px;
    border-top-color: transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-image: url(:/textures/MainPage/bttn3x1_scroll_down.png);
}
 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: none;
 }
QScrollBar::down-arrow:vertical:hover, QScrollBar::up-arrow:vertical:hover, QScrollBar::handle:vertical:hover{
    background-position: center;
}
QScrollBar::down-arrow:vertical:pressed, QScrollBar::up-arrow:vertical:pressed, QScrollBar::handle:vertical:pressed{
    background-position: right;
}
